.DS_Store
.classpath
.project
.settings
android/build
iphone/build
android/dist/androidflurry.jar
iphone/iphoneflurry.xcodeproj/xcuserdata/*
iphone/iphoneflurry.xcodeproj/project.xcworkspace/xcuserdata/*